In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('trydate.csv')

In [9]:
df.timeseries.head()

0    2021-09-10T03:37:16.400Z
1    2021-09-10T03:37:23.653Z
2    2021-09-10T03:37:33.653Z
3    2021-09-10T03:37:43.590Z
4    2021-09-10T03:37:53.590Z
Name: timeseries, dtype: object

In [10]:
# df['timeseries'] = pd.to_datetime(df['timeseries'],
#     format = '%Y-%m-%dT%H:%M:%SZ',
#     errors = 'coerce')

In [11]:
df['timeseries'] = pd.to_datetime(df['timeseries'])

In [12]:
df.timeseries.head()

0   2021-09-10 03:37:16.400000+00:00
1   2021-09-10 03:37:23.653000+00:00
2   2021-09-10 03:37:33.653000+00:00
3   2021-09-10 03:37:43.590000+00:00
4   2021-09-10 03:37:53.590000+00:00
Name: timeseries, dtype: datetime64[ns, UTC]

In [13]:
df.head()

                        timeseries  humidity  temperature
0 2021-09-10 03:37:16.400000+00:00      67.5         23.4
1 2021-09-10 03:37:23.653000+00:00      67.5         23.4
2 2021-09-10 03:37:33.653000+00:00      67.5         23.4
3 2021-09-10 03:37:43.590000+00:00      67.5         23.4
4 2021-09-10 03:37:53.590000+00:00      67.5         23.4